/*CASE STUDY STYLING*/
.projectImage {
  width: 100%;
  height: 750px;
  object-fit: cover;
  display: block;
  margin-top: 75px;
}

#projectTitle {
  text-align: left;
  font-weight: 700;
  color: rgba(97, 94, 94, 0.643);
  padding: 0 100px;
  margin: 40px 0 10px 0;
}

.projectInfoTitle {
  margin: 0px 0 10px 0;
  padding: 0 100px;
  text-align: left;
  font-size: 70px;
}



/*first blobs of text in the case studies*/
.projectintroinformation {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 40px;
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(98, 41, 197, 0.2);
  border-radius: 8px;
  padding: 40px;
  margin-top: 100px;
}

.introContext {
  padding: 0;
  font-weight: 400;
  line-height: 1.8;
}

.leftText {
  flex: 1;
  text-align: left;
}

.rightNotes {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  align-content: start;
}

.noteBox {
  background: #8550e6;
  border-radius: 2px;
  padding: 12px 14px;
  box-shadow: 4px 4px 0px #7229c5;
  color: rgb(238, 238, 238);
}

.noteBox strong {
  display: block;
  margin-bottom: 2px;
}

.noteBox p {
  margin: 0;
  font-weight: 400;
}

.noteBox.team {
  grid-column: span 2;
}


/*box trio*/
.projectBrief {
  display: flex;
  text-align: left;
  margin-top: 25px;
  padding: 0px 80px;
  margin-bottom:80px;
}

.briefBox {
  background: transparent;
  border: 3px solid #8550e6;
  border-radius: 6px;
  padding: 0px 15px;
  margin: 5px 15px;
}




/* Process information*/
.leftTitle {
  text-align: left;
  margin-top: 45px;
  padding: 0px 95px;
  margin-bottom: 20px;
}

.contentRow {
  display: flex;
  gap: 90px;
  max-width: 1600px;
  padding: 0 90px;
  align-items: flex-start;
  margin: 0 auto 40px auto;
}

.sectionText h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size:40px;
}

.sectionText {
  flex: 1;
  text-align: left;
}

.projectText {
  font-size: 15px;
  margin-top: 5px;
}

/* summary box*/
.processKey {
  background: rgba(96, 41, 197, 0.2);
  border-radius: 6px;
  padding: 1px 0px 5px 20px;
}

.sectionVisual {
  flex: 1;
  transition: 0.3s ease;
}

.sectionVisual:hover {
  transform: rotate(2deg);

}

.sectionVisual img {
  width: 100%;
  display: block;
  border-radius: 4px;
}

/*Final Outcome Image Gallery*/
.finalOutcomeImages {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 90px;
}

.bgImg.fullWidth{
width: 100%;
  height: 750px;
  object-fit: cover;
  display: block;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.bgImg.fullWidth.short{
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
}


.imageRow {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.imageRow img {
  width: 50%;
  display: block;
  background:pink;
  border-radius :4px; 
}

.portraitRow img {
  height: 900px !important; /* choose your own height */
  object-fit: cover !important;
}

.imageRow img,
.imageRow video {
  flex: 1;
  height: 350px;
  object-fit: cover;
  border-radius: 4px;
}

.fullWidthVideo {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.gallerySpace {
  padding: 10px;
}

/*
.galleryLayout {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.portraitImg {
  width: 100%;
  height: 100%;
  background-color:red;
  object-fit: cover;
  grid-row: span 2;
  border-radius: 4px;
}

.landscapeImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-color: blue;
  border-radius: 4px;
}*/

.galleryLayout {
  display: flex;
  gap: 20px;
}

.videoColumn {
  flex: 0.7;
}

.imageColumn {
  flex: 1.3;
}

.videoColumn video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}

.imageColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imageColumn img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}

/*line between reflection and view more projects*/
.endProjectLine{
border: none;
  height: 3px;
  background: #507fe6;
  width: 90%;
  margin: 60px auto;
  border-radius: 2px;
}


/*view more projects*/
.moreProjects {
  max-width: 1600px;
  margin: 40px auto;
  padding: 0 90px;
}

.moreProjectsTitle {
  text-align: center;
  margin-bottom: 30px;
}

.projectLinks {
  display: flex;
  gap: 20px;
}

.projectThumb {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  display: block;
}

.projectThumb img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;

  background: rgba(0,0,0,0.55);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.3s ease;
}

.overlay h3 {
  color: white;
  font-size: 32px;
}

.projectThumb:hover .overlay {
  opacity: 1;
}

.backHome {
  margin-top: 20px;
  text-align: right;
}

.backHome a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.backHome a:hover {
  text-decoration:underline;
}

/*about page*/

.nameTooltip {
  position: relative;
  display: inline-block;

  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ae6edf;

  cursor: help;
}
.tooltip {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);

  background: #ae6edf;
  color: white;

  padding: 6px 10px;
  border-radius: 2px;

  font-size: 13px;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;

  box-shadow: 3px 3px 0px rgba(0,0,0,0.15);
}
.nameTooltip:hover .tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(-4px);
}



.aboutRow {
  display: flex;
  gap: 90px;
  max-width: 1600px;
  padding: 0 90px;
  align-items: flex-start;
  margin: 0 auto 40px auto;
}

.aboutTextSection {
  flex: 1;
  text-align: left;
}

.aboutTextSection h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
}

.aboutParagraph {
  font-size: 15px;
  margin-top: 5px;
}

.aboutVisual {
  flex: 1;
  transition: 0.3s ease;
}

.aboutVisual:hover {
  transform: rotate(2deg);
}

.aboutVisual img {
  width: 100%;
  display: block;
  border-radius: 4px;
}

.wonky{
  width: 40%;
  max-width: 450px;
  height: auto;
}
.photoTape {
  position: relative;
  display: inline-block;
}

/* tape strip top */
.photoTape::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 20px;

  width: 160px;
  height: 40px;

  background: rgba(148, 25, 255, 0.4);
  border: 1px solid rgba(162, 40, 237, 0.08);

  transform: rotate(-4deg);
  z-index: 2;
  backdrop-filter: blur(2px);
}

/* tape strip bottom */
.photoTape::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 20px;

 width: 160px;
  height: 40px;

  background: rgba(255, 16, 255, 0.4);
  border: 1px solid rgba(255, 17, 251, 0.08);

  transform: rotate(3deg);
  z-index: 2;
  backdrop-filter: blur(2px);
}

.photoTape img {
  position: relative;
  z-index: 1;
}

.platformSection {
  display: flex;
  gap: 60px;
}

.platformGroup h4 {
  margin-bottom: 12px;
  font-weight: 700;
}

.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.iconGrid {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.iconItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  font-size: 12px;
  opacity: 0.9;
}

.iconItem img {
  width: 40px;
  height: 40px;
  object-fit: contain;

  filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.1));
}


.platformBox {
  background:transparent;
  border: 2px solid rgba(133, 80, 230, 0.6);
  border-radius: 4px;

  padding: 20px 25px;
  margin-top: 0px;
}
.platformTitle {
  margin: 0 0 15px 0;
  font-size: 18px;
  font-weight: 800;
  text-align: left;
}
.platformGrid {
  display: flex;
  gap: 60px;
}
.platformColumn h4 {
  margin: 0 0 8px 0;
  font-weight: 700;
  text-align: left;
}

.platformColumn p {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.4;
}