/*base information*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: "polymath", sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #000000;
  font-style: normal;
  margin: 0;
  padding: 0px;
  background-color: #FDF5EB;
  background-image:
    linear-gradient(to bottom, transparent 31px, #f0e8f8 3px);
  background-size: 100% 32px;
}

/*wonderful whimsical rainbow trail*/
.trail {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  opacity: 1;
  animation: fadeOut 2s ease-out forwards;
  z-index: 9999;
}
@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.3);
  }
}


/*GENERAL STYLING*/
header {
  padding: 30px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
}
.textLogo{
font-family: "aktiv-grotesk-condensed", sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #6a27bd;
  text-decoration: none;
  padding:28px;
  display: inline-block; /* IMPORTANT for transform */
  transition: all 0.25s ease;
}
.textLogo a:hover {
  background: #bd75f4;
  color: white;
  letter-spacing: 1px;
  transform: rotate(2deg) scale(1.05);
  padding: 2px 6px;
  border-radius: 4px;
}
.logo img {
  width: 150px;
}


a {
  text-decoration: none;
}
/*nav bar links*/
.navLinks a {
  text-decoration: none;
  color: #7130a2;
  border: 2px solid #ae6edf;
  background: transparent;
  padding: 8px 15px;
  margin: 5px;
  display: inline-block;
  border-radius: 12px;
  transition: 0.2s ease;
}

.navLinks a:hover {
  background: #ae6edf;
  color: white;
  letter-spacing: 1px;
  transform: rotate(2deg) scale(1.05);
}

/* testing
.landingHero {
  width: 100%;
}

.landingText {
  text-align: left;
  margin: 20px 45px;
}*/

/*  Jumbled text styling, if ever I want to use it..
.jumbled span {
  display: inline-block;
}
.jumbled span:nth-child(1) {
  transform: rotate(-4deg);
}
.jumbled span:nth-child(2) {
  transform: rotate(2deg);
}
.jumbled span:nth-child(3) {
  transform: rotate(-2deg);
}
.jumbled span:nth-child(4) {
  transform: rotate(5deg);
}
.jumbled span:nth-child(5) {
  transform: rotate(-3deg);
}
  */

/*landing text + image*/
.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.landingTextGroup {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin: 0px 0px 0px 45px;
  font-size: 35px;
  line-height: 0.5;
}
.landingHero {
  width: 40%;
  height: auto;
  object-fit: cover;
  margin: 50px;
}
#text {
  font-weight: 400;
  font-size: 25px;
  margin: 20px 0px;
  text-align: left;
  line-height: 1.5;
}

/*landing page highlighted text*/
.highlight1 {
  background: #c78bfc;
  padding: 0 6px;
  box-decoration-break: clone;
  border-radius: 2.5px;
}
.highlight2 {
  background: #eb6ede;
  padding: 0 6px;
  box-decoration-break: clone;
  border-radius: 2.5px;
}

/*about me button*/
button {
  padding: 15px 20px;
  border: none;
  background-color: rgb(118, 64, 197);
  color: white;
  cursor: e-resize;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px;
}
button:hover {
  background-color: rgb(97, 55, 168);
  transition: 0.2s ease;
  transform: scale(1.08);
}

.space2 {
  padding:50px;
}


/*explore da projects*/
.explore {
  font-size: 38px;
}

/* Hover Circle 'open project' */
.projectSection {
  position: relative;
  overflow: hidden;
}
.hoverCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: 0.3s ease;
  pointer-events: none;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.projectSection:hover .hoverCircle {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(-6deg) scale(1);
}
.hoverCircle.journal{
  background: #ff3fd2;
  border: 2px solid rgb(117, 6, 98);
  box-shadow: 4px 4px 0px rgb(117, 6, 98);
  transform: translate(-50%, -50%) rotate(6deg) scale(0.8);
}
.hoverCircle.data{
  background: #3f75ff;
  border: 2px solid rgb(6, 30, 117);
  box-shadow: 4px 4px 0px rgb(6, 30, 117);
  transform: translate(-50%, -50%) rotate(6deg) scale(0.8);
}
.hoverCircle.metro{
  background: #2224b9;
  border: 2px solid rgb(216, 200, 13);
  box-shadow: 4px 4px 0px rgb(216, 200, 13);
  color: white;
  transform: translate(-50%, -50%) rotate(6deg) scale(0.8);
}
.projectSection {
  display: flex;
  align-items: center;
  gap: 60px;
  margin: 120px auto;
  padding: 0 40px;
  max-width: 1200px;
  transition: 0.3s ease;
}

.projectSection:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.leftLayout {
  flex-direction: row;
  transform: rotate(-1deg);
  padding-left: 40px;
}
.rightLayout {
  flex-direction: row-reverse;
  transform: rotate(1deg);
  padding-right: 40px;
}
.projectSection img {
  width: 50%;
}

.projectCard {
  width: 50%;
}

.projectLink {
  text-decoration: none;
  color: inherit;
  display: block;
}




















/*Project Overview Section*/
.projectInfo {
  text-align: left;
  padding: 20px;
}
.projectInfo.Body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 100px 50px;
}
.projectbodyinfo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* LEFT SIDE */
.stickyNotes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.stickySmall {
  font-weight:400;
}
.stickyNote.Journal {
  background: #E6B9C7;
  padding: 16px 16px;
  width: 180px;
  transform: rotate(-1deg);
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
.stickyNote.Data {
  background: #1B61B7;
  padding: 12px 14px;
  width: 180px;
  transform: rotate(-1deg);
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
.stickyNote.Metro {
  background: #1a2a55;
  color: white;
  padding: 12px 14px;
  width: 180px;
  transform: rotate(-1deg);
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
.stickyNote:nth-child(even) {
  transform: rotate(1deg);
}

/* RIGHT SIDE */
.blurbWrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  max-width: 800px;
  padding-left: 30px;
}
.projectBlurb {
  margin: 0;
  text-align: left;
  line-height: 2.5;
  font-weight: 400;
}


/*Deeper Project Information, i.e problem, evolution, etc*/
.constrainedProjectbodyinfo {
  padding: 45px;
  margin: 0px 80px;
}

.projectSubTitle{
color: rgb(139, 139, 139);
}
.projectText{
  font-weight: 400;
  font-size: 20px;
  margin: 20px 0px;
  text-align: left;
  line-height: 1.5;
}

.center {
  text-align:center;
  font-weight:300;
}

.comment {
  margin-top:5px;
  color:gray;
  font-weight: 300;
font-style: italic;
}

/*journal process 1*/
.processImageRow {
  display: flex;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}
.projectprocessimages {
  flex: 1;
  height: 380px;
  object-fit: cover;
  display: block;
  border-radius: 3px;
}

/*journal process 2*/
.processImageRowJ2 {
  display: flex;
  gap: 20px;
  width: fit-content;
  margin: 0 auto;
}
.projectprocessimagesJ2 {
  width: 320px;     /* consistent control */
  height: 400px;
  object-fit: cover;
  display: block;
    border-radius: 3px;
}

.researchQuestion {
  margin-top:-100px;
  width: 100%;
  height: 700px;
  object-fit: cover;
  display: block;
  margin-bottom:-80px;
}

/*JOURNAL TABLE CASE STUDY*/
.finalImages {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.poster {
  width: 50%;
}
.poster img {
  width: 100%;
  display: block;
}
.caseImages {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.caseImages img {
  width: 100%;
  display: block;
}
.caseImgJR img{
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
  margin: 15px auto;
}




/*between end of Project and view other projects*/
.largeDivider {
  height: 3px;             
  background-color: rgb(196, 196, 196);
  border: none;
}
/*divider line*/
hr {
  height: 10px;
}
/*space at bottom*/
.space {
  padding: 20px;
}
/*footer*/
footer {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 45px;
}
.footerConnect {
  text-align: left;
}
.footerCredit {
  text-align: right;
}


